/ BEGIN measurements/_dailies.html.haml

%table
  %thead
    %tr
      %th{'align' => 'right', 'rowspan' => '2', 'valign' => 'bottom'}<
        Period Ends
      
      %th{'align' => 'center', 'colspan' => '4', 'valign' => 'bottom'}<
        Statistics on Measurements
      
      %th{'align' => 'center', 'colspan' => '6', 'valign' => 'bottom'}<
        = average_measurement_in_time_slot_column_header
      
      %th{'align' => 'right', 'rowspan' => '2', 'valign' => 'bottom'}<
        Time Slots Measured
      
      %th{'align' => 'center', 'colspan' => '2', 'valign' => 'bottom'}<
        Risk
      
      %th{'align' => 'left', 'rowspan' => '2', 'valign' => 'bottom'}<
        Notes
    
    %tr
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Average
      
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Standard Deviation
      
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Maximum
      
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Minimum
      
      - Aggregate::TIME_SLOTS.each do |slot|
        %th{'align' => 'right', 'valign' => 'bottom'}<
          = slot
      
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Index
      
      %th{'align' => 'center', 'valign' => 'bottom'}<
        Grade
  
  %tbody
    - @dailies.each do |m|
      %tr{'class' => m.contains_approximate_times? ? 'approximate' : nil}
        %td.nowrap{'align' => 'right', 'valign' => 'top'}<
          = m.period_ends_on.to_formatted_s(:html)
        
        %td{'align' => 'right', 'class' => m.average_skew_severity, 'title' => m.average_skew_severity, 'valign' => 'top'}<
          = m.average_value.round
        
        %td{'align' => 'right', 'class' => m.average_skew_severity, 'title' => m.average_skew_severity, 'valign' => 'top'}<
          = m.standard_deviation_of_value.round(1)
        
        %td{'align' => 'right', 'class' => m.maximum_value_severity, 'title' => m.maximum_value_severity, 'valign' => 'top'}<
          = m.maximum_value.round
        
        %td{'align' => 'right', 'class' => m.minimum_value_severity, 'title' => m.minimum_value_severity, 'valign' => 'top'}<
          = m.minimum_value.round
        
        - Aggregate::TIME_SLOTS.each do |slot|
          - value = m.send(:"average_value_in_time_slot_#{slot}")
          %td{'align' => 'right', 'class' => m.send(:"severity_of_average_skew_in_time_slot_#{slot}"), 'title' => m.send(:"severity_of_average_skew_in_time_slot_#{slot}"), 'valign' => 'top'}<
            = "#{value && m.contains_approximate_times? ? '≈&nbsp;' : nil}#{value ? value.round : nil}"
        
        %td{'align' => 'right', 'class' => m.measured_time_slots_count_severity, 'title' => m.measured_time_slots_count_severity, 'valign' => 'top'}<
          = m.measured_time_slots_count
        
        %td{'align' => 'right', 'class' => m.risk_severity, 'title' => m.risk_severity, 'valign' => 'top'}<
          %b<
            = m.risk_index.round(1)
        
        %td{'align' => 'center', 'class' => m.risk_severity, 'title' => m.risk_severity, 'valign' => 'top'}<
          %b<
            = formatted_risk_grade(m.risk_grade)
        
        - if m.notes
          %td{'valign' => 'top'}
            = simple_format(h(m.notes))
        - else
          %td{'valign' => 'top'}

= will_paginate @dailies

/ END measurements/_dailies.html.haml
