/ BEGIN measurements/_measurements.html.haml

%table
  %thead
    %tr
      %th{'align' => 'right'}<
        - if @measurements.any? { |m| m.approximate_time? }
          %span.approximate<
            (≈ Approximate)
        Date/Time
      
      %th{'align' => 'right'}<
        Adjusted Date
      
      %th{'align' => 'center'}<
        Time Slot
      
      %th{'align' => 'right'}<
        Value
      
      %th{'align' => 'right'}<
        Skew
      
      %th<
        Notes
  
  %tbody
    - @measurements.each do |m|
      %tr{'class' => m.approximate_time ? 'approximate' : nil}
        %td{'align' => 'right', 'valign' => 'top'}<
          = "#{m.approximate_time ? '≈ ' : nil}#{m.at.to_formatted_s :html}"
        
        %td{'align' => 'right', 'valign' => 'top'}<
          = m.adjusted_date.to_formatted_s(:html)
        
        %td{'align' => 'center', 'valign' => 'top'}<
          = m.time_slot
        
        %td{'align' => 'right', 'class' => m.severity, 'valign' => 'top'}<
          = m.value.round
        
        %td{'align' => 'right', 'class' => m.severity, 'valign' => 'top'}<
          = m.skew.round(1)
        
        %td
          = simple_format(m.notes)

= will_paginate @measurements, :inner_window => 1

/ END measurements/_measurements.html.haml
