/ BEGIN measurements/_measurements.html.haml

%table
  %thead
    %tr
      %th{'align' => 'right', 'valign' => 'bottom'}<
        = date_time_column_header
      
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Adjusted Date
      
      %th{'align' => 'center', 'valign' => 'bottom'}<
        Time Slot
      
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Value
      
      %th{'align' => 'right', 'valign' => 'bottom'}<
        Skew
      
      %th{'align' => 'left', 'valign' => 'bottom'}<
        Notes
  
  %tbody
    - @measurements.each do |m|
      %tr{'class' => m.approximate_time? ? 'approximate' : nil}
        %td.datetime{'align' => 'right', 'valign' => 'top'}<
          = "#{m.approximate_time ? '≈ ' : nil}#{m.at.to_formatted_s :html}"
        
        %td{'align' => 'right', 'valign' => 'top'}<
          = m.adjusted_date.to_formatted_s(:html)
        
        %td{'align' => 'center', 'valign' => 'top'}<
          = m.time_slot
        
        %td{'align' => 'right', 'class' => m.severity, 'valign' => 'top'}<
          = m.value.round
        
        %td{'align' => 'right', 'class' => m.severity, 'valign' => 'top'}<
          = m.skew.round(1)
        
        - if m.notes
          %td{'valign' => 'top'}
            = simple_format(h(m.notes))
        - else
          %td{'valign' => 'top'}

= will_paginate @measurements

/ END measurements/_measurements.html.haml
