<h1>Editing measurement</h1>

<%= error_messages_for :measurement %>

<% form_for(@measurement) do |f| %>
  <p>
    <b>At</b><br />
    <%= f.datetime_select :at %>
  </p>

  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @measurement %> |
<%= link_to 'Back', measurements_path %>
