<h1 id="period">Thu 3/23 &ndash; Fri 5/15</h1>

<div class="column-section">
<div class="column-set">
<div class="column">
<h2>Summary</h2>

<dl>
<dt>Risk index (letter grade)</dt>
<dd><span id="risk-index">1.23</span> (<span id="risk-letter-grade">B+</span>)</dd>

<dt>Number of missing dates in period</dt>
<dd id="missing-dates">0</dd>

<dt>Risk Index Chart</dt>
<dd><img alt="Risk Index Chart" height="128" width="192" id="risk-index-chart" src="" /></dd>

<dt>Blood-Glucose Profile Chart</dt>
<dd><img alt="Blood-Glucose Profile Chart" height="128" width="192" id="blood-glucose-profile-chart" src="" /></dd>
</dl>
</div>

<div class="column">
<h2>Blood-glucose</h2>

<dl>
<dt>Target</dt>
<dd id="blood-glucose-target">100</dd>

<dt>Actual high</dt>
<dd id="blood-glucose-actual-high">303</dd>

<dt>Actual low</dt>
<dd id="blood-glucose-actual-low">56</dd>

<dt>Actual average</dt>
<dd id="blood-glucose-actual-average">135</dd>
</dl>
</div>

<div class="column">
<h2>Daily measurement count</h2>

<dl>
<dt>Target</dt>
<dd id="daily-measurement-count-target">5</dd>

<dt>Actual high</dt>
<dd id="daily-measurement-count-actual-high">8</dd>

<dt>Actual low</dt>
<dd id="daily-measurement-count-actual-low">1</dd>

<dt>Actual average</dt>
<dd id="daily-measurement-count-actual-average">3.5</dd>
</dl>
</div>
</div>
</div>

<% unless @measurements.empty? -%>
<table border="1">
<thead>
<tr>
<th />
<th align="right">Adjusted date</th>
<th align="right">High</th>
<th align="right">Low</th>
<th align="right">Average</th>
<th align="right">Count</th>
<th colspan="2">Risk</th>
<th colspan="10">Individual Blood-Glucose Measurements</th>
</tr>
</thead>

<tbody>
<% @measurements.each do |measurement| -%>
<tr id="measurement-<%= measurement.id %>">
<td>
<ul class="links">
<li><%= link_to 'Edit', edit_measurement_path(measurement) %></li>
<li><%= link_to 'Delete', measurement, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>
</td>

<td align="right"><%= measurement.adjusted_date || measurement.at %></td>

<td align="right">123</td>

<td align="right">99</td>

<td align="right">70</td>

<td align="right">4</td>

<td align="right">1.23</td>

<td align="center">B+</td>

<td align="right">654</td>

<td align="right">123</td>

<td align="right">456</td>

<td align="right">321</td>

<td align="right">654</td>

<td align="right"></td>

<td align="right"></td>

<td align="right"></td>

<td align="right"></td>

<td align="right"></td>
</tr>
<% end -%>
</tbody>
</table>
<% end -%>

<ul class="links">
<li><%= link_to 'New', new_measurement_path %></li>
</ul>
