<h1>New measurement</h1>

<%= error_messages_for :measurement %>

<% form_for(@measurement) do |f| %>
  <p>
    <b>Accounting date</b><br />
    <%= f.date_select :accounting_date %>
  </p>

  <p>
    <b>Accounting time period</b><br />
    <%= f.text_field :accounting_time_period %>
  </p>

  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', measurements_path %>
