<p>
  <b>At:</b>
  <%=h @measurement.at %>
</p>

<p>
  <b>Adjusted date:</b>
  <%=h @measurement.adjusted_date %>
</p>

<p>
  <b>Time period:</b>
  <%=h @measurement.time_period %>
</p>

<p>
  <b>Value:</b>
  <%=h @measurement.value %>
</p>


<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
