/ BEGIN layouts/application.html.haml

!!! Strict

%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    
    - page_title_segments = Array(yield(:page_title).chomp) + ['Glucodes']
    %title<
      = page_title_segments.join ' :: '
    
    = stylesheet_link_tag 'reset-min'
    = stylesheet_link_tag 'general'
    - Array(yield(:additional_stylesheets)).each do |s|
      = stylesheet_link_tag s
    - if (page_style = yield(:page_style))
      %style{'type' => 'text/css'}= page_style
  
  %body
    - if flash[:warning]
      .warning<
        = flash[:warning]
    - if flash[:notice]
      .notice<
        = flash[:notice]
    
    = yield
    
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    - Array(yield(:additional_javascripts)).each do |s|
      = s
    = javascript_include_tag 'autofocus'

/ END layouts/application.html.haml
